/*parte global de header*/

html{
    box-sizing: border-box;
  }
  body {
    margin:0;
  }
  *,*:before,*:after{
    box-sizing: inherit;
  }
  .contenedor {
    max-width: 1100px;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  
  /* header */
  .class-header {
    padding: 1rem;
    border-bottom: 1px solid black;
  }
  .header-nav {
    display: flex;
    justify-content: space-around;
  
  }
  .nav-dm {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      margin-top: 0.7rem;
  }
  .nav-m {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 0.7rem;
  }
  .header-nav nav a{
    display: inline-block;
    color: #000000;
    padding: 1rem .9rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  
  }
  .header-nav nav a:hover {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
  }
  /*fin header*/
  
  .header-nav img{
  width: 20%;
  }
  .cuerpo-i2 {
  margin: 3rem auto;
  }
  h2 {
  text-align: center;
  text-transform: uppercase;
  }
  .cuerpo-i2 h2{
  padding-bottom: 2rem;
  border-bottom:1px solid #a8a8a8 ;
  }
  .platillos-index {
  margin-top: 1.5rem;
  }
  
  
  /*footer*/
  .par-footer{
    text-align: center;
  }